<section class="movie-details">
	<div class="hero-header" ng-style="{'background-image': 'url(https://image.tmdb.org/t/p/original'+$ctrl.movie.backdrop_path+')'}">
		<div class="hero-container">
			<figure class="movie-poster">
				<img data-hook="movie-poster" ng-src="{{:: 'https://image.tmdb.org/t/p/w200' + $ctrl.movie.poster_path}}"/>
				<figcaption>
					<h2 data-hook="title">{{:: $ctrl.movie.title}} <span>{{:: $ctrl.movie.year}}</span></h2>
				</figcaption>
			</figure>
			<ul class="additional-data">
				<li>{{:: $ctrl.movie.vote_average}}<span>Rating</span></li>
				<li>{{:: $ctrl.movie.release_date | date}}<span>Release Date</span></li>
				<li>{{:: $ctrl.movie.original_language | toUpperCase}}<span>Language</span></li>
			</ul>
			<p class="description" data-hook="description">{{::$ctrl.movie.overview}}</p>
		</div>
	</div>
</section>
